name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test sync-release-version
    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.16
      - name: Sync release Version
        uses: ./
        id: sync-release-version
        with:
          current_version: 'v1.0.1'
          new_version: 'v1.0.2'
          paths: |
            test/README.md
            test/subdir/README.md
      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v13
        id: changed_files
        with:
          files: |
            test/README.md
            test/subdir/README.md
      - name: Validate files changed.
        if: steps.changed_files.outputs.files_changed != 'true'
        run: |
          echo "Expected versions changes."
          echo "Found: \n"
          cat test/README.md
          echo "------"
          cat test/subdir/README.md
          exit 1
      - name: Validate old_version output.
        if: steps.sync-release-version.outputs.old_version != 'v1.0.1'
        run: |
          echo "Invalid previous version ${{ steps.sync-release-version.outputs.old_version }}: Expected v1.0.1"
          exit 1
      - name: Validate new_version output.
        if: steps.sync-release-version.outputs.new_version != 'v1.0.2'
        run: |
          echo "Invalid new version ${{ steps.sync-release-version.outputs.new_version }}: Expected v1.0.2"
          exit 1
      - name: Show file changes
        run: |
          echo "test/README.md"
          cat test/README.md
          echo "test/subdir/README.md"
          cat test/subdir/README.md
      - name: Sync release Version Major
        uses: ./
        id: sync-release-version-major
        with:
          current_version: 'v1.0.1'
          new_version: 'v2.0.0'
          only_major: true
          paths: |
            test/README.md
            test/subdir/README.md
      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v13
        id: changed_files_major
        with:
          files: |
            test/README.md
            test/subdir/README.md
      - name: Validate files changed.
        if: steps.changed_files_major.outputs.files_changed != 'true'
        run: |
          echo "Expected versions changes."
          echo "Found: \n"
          cat test/README.md
          echo "------"
          cat test/subdir/README.md
          exit 1
      - name: Validate old_version output.
        if: steps.sync-release-version-major.outputs.old_version != 'v1.0.1'
        run: |
          echo "Invalid previous version ${{ steps.sync-release-version-major.outputs.old_version }}: Expected v1.0.1"
          exit 1
      - name: Validate new_version output.
        if: steps.sync-release-version-major.outputs.new_version != 'v2'
        run: |
          echo "Invalid new version ${{ steps.sync-release-version-major.outputs.new_version }}: Expected v2"
          exit 1
      - name: Validate major_update output
        if: steps.sync-release-version-major.outputs.major_update != 'true'
        run: |
          echo "Invalid major_update output ${{ steps.sync-release-version-major.outputs.major_update }}: Expected true"
          exit 1
      - name: Show file changes
        run: |
          echo "test/README.md"
          cat test/README.md
          echo "test/subdir/README.md"
          cat test/subdir/README.md
      
